.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .toolbar {
    gap: calc(var(--spacing-unit) * 2);
    flex-wrap: wrap;

    .MuiButton-root {
      overflow: visible;
    }

    .MuiBadge-badge {
      top: 6px;
      right: -10px;
      background-color: transparent;
      border: 1px solid currentColor;
      color: inherit;
      box-shadow: none;
    }
  }

  .brand {
    flex-grow: 1;
  }

  .content {
    flex-grow: 1;
    padding-top: calc(var(--spacing-unit) * 4);
    padding-bottom: calc(var(--spacing-unit) * 4);
  }
}
